<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068770622046-dktc2fo5s5pr93um6pcihi1vncmbkoj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068770622046-dktc2fo5s5pr93um6pcihi1vncmbkoj7</string>
	<key>API_KEY</key>
	<string>AIzaSyA5XHRk2HHrhwPyetAQJwtrKM14CYL97zA</string>
	<key>GCM_SENDER_ID</key>
	<string>1068770622046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChart</string>
	<key>PROJECT_ID</key>
	<string>flutter-chart-42c38</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chart-42c38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068770622046:ios:b3fd5eb32fbb49427692cf</string>
</dict>
</plist>